<h1>Listing Bus Arrivals</h1>
<table>
    <tr>
        <th>Bus Route</th>
        <th>Destination</th>
        <th>Time to Station</th>
    </tr>

    <tbody id="arrivals-body">
        <% @arrivals.each do |arrival| %>
            <tr>
                <td><%= arrival.route %></td>
                <td><%= arrival.destination %></td>
                <td><%= arrival.timeToStation %></td>
            </tr>
        <%end %>
    </tbody>

</table>